html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    overflow-x: hidden;
    width: 100%;
    background-color: var(--bg-light); /* Fond clair */
    color: var(--menu-text); /* Texte sombre (#1a1a1a) */
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* SCROLLBAR */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color); 
    border-radius: 10px; 
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}