@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600;700;800&display=swap');

body {
    font-family: var(--font-body);
    line-height: var(--lh-body);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, .logo {
    font-family: var(--font-titles);
    line-height: var(--lh-titles);
    font-weight: 700;
    color: inherit; /* Prend le sombre du body */
}

/* Cas particulier : Texte sur le Hero ou zones sombres */
body .hero h1, body .hero p, body .desc-text {
    color: white;
}

.paragraphe { margin-bottom: 20px; }