/* timelineMed.css */
@import "timelineLow.css";

.timeline-block.med {
    margin-bottom: 40px;
    margin-top: -40px;
}

.timeline-block.med .timeline-marker {
    width: 6px;
    height: 6px;
    left: -42px;
    background-color: #444444;
}

.timeline-block.med .timeline-card {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0 0 0 20px;
}

.timeline-block.med .card-info { padding: 10px 0; }
.timeline-block.med .card-info h3 { font-size: 1.2rem; color: #888888; }
.timeline-block.med .card-time-header { border-bottom: 1px dotted #333; margin-bottom: 10px; }